<section class="section-modules__block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-10 col-lg-9">
                <div class="section-modules__grid">
                    <div class="section-modules--grid_item"><ModulesRobotStatus /></div>
                    <div class="section-modules--grid_item"><ModulesLive /></div>
                    <div class="section-modules--grid_item"></div>
                    <div class="section-modules--grid_item"></div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-3">
                <div class="modules--sidebar__container">
                    <div class="modules--sidebar__header">
                        <div class="modules--sidebar__input">
                            <p>Client: #123456</p>
                        </div>
                    </div>
                    <div class="modules--sidebar__body">
                        <div class="modules--sidebar__body--inputbox">
                            <p>Lo|</p>
                        </div>
                        <div class="modules--sidebar__body--filebox">
                            <p>log-123456.pdf</p>
                        </div>
                    </div>
                    <div class="modules--sidebar__buttons">
                        <div class="modules--sidebar__buttons--wrapper">
                            <div class="modules--sidebar__button"></div>
                            <div class="modules--sidebar__button"></div>
                            <div class="modules--sidebar__button"></div>
                            <div class="modules--sidebar__button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>