@page "/"

<PageTitle>Dashboard T-sentinel-web-app</PageTitle>

<section class="section-module">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6">
                <h2 class="display-4">Welcome to T-sentinel-web-app</h2>
            </div>
            <div class="col-lg-6">
                 <h2 class="display-4">Drag 'n drop</h2>
            </div>
       
            <div class="col-lg-6"> <h2 class="display-4">Video</h2></div>
            <div class="col-lg-6"> <h2 class="display-4">robot heriathics</h2></div>
        </div>
    </div>
</section>
